body{
    background-color: #f2f4f6;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
/*label:focus,*/
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.container-wrapper.header, .bg-light-quiz{
    background-color: #f8f9fa;
}


.home-page-wrapper{
    display: block;
    margin-top: 80px;
    text-align: center;
}

.homepage-left-handside,
.homepage-right-handside{
    display: block;
    min-height: 400px;
}

.container-inner-landing-page{
    margin : 30px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
}

/**Banners Styles **/
.homepage-left-handside{
    background-size: cover;
    background-position: center center;
    height: 600px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
}

/** login widget wrapper start **/
.login-widget-wrapper{
    max-width: 300px;
    display: block;
    margin:40px auto;
}


.login-widget-wrapper .form-group label{
    font-weight: bold;
}
/** login widget wrapper end */

/** Social Button Styling **/
.social-login-wrapper{
    margin-top: 40px;
}
.social-login-wrapper .sl-row{
    padding: 5px;
    border-radius: 5px;
}
.social-login-wrapper .sl-row img{
    height: 30px;
    width : 30px;
}

.social-login-wrapper .sl-row a{
    display: block;
    font-size: 14px;
}

.social-login-wrapper .sl-row .sl-text{
    text-align: right;
    color : #fff;
}

/** facebook **/
.social-login-wrapper .sl-row.sl-facebook{
    border-top-color: #2274B9 !important;
    border-bottom-color: #2274B9 !important;
    background-color: #2274B9 !important;
    color: #FFFFFF !important;
}

.social-login-wrapper .sl-row.sl-tw {
    border-top-color: #4AA5E1!important;
    border-bottom-color: #4AA5E1 !important;
    background-color: #4AA5E1 !important;
    color: #FFFFFF !important;
}

/*.social-login-wrapper .sl-row.sl-google {
    border-top-color: #D91E18 !important;
    border-bottom-color: #D91E18 !important;
    background-color: #D91E18 !important;
    color: #FFFFFF !important;
}*/
.social-login-wrapper .sl-row.sl-google {
    border-top-color: #F8F8F8 !important;
    border-bottom-color: #F8F8F8 !important;
    background-color: #F8F8F8 !important;
    color: #555 !important;
}

.social-login-wrapper .sl-row.sl-google .sl-text{
    color: #555;
}