body{
    background-color: #f2f4f6;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
/*label:focus,*/
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.container-wrapper.header, .bg-light-quiz{
    background-color: #f8f9fa;
}


.home-page-wrapper{
    display: block;
    margin-top: 50px;
    text-align: center;
}

.homepage-left-handside,
.homepage-right-handside{
    display: block;
    min-height: 400px;
    position: relative;
}

.container-inner-landing-page{
    margin : 30px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
}

/**Banners Styles **/
.homepage-left-handside{
    background-size: cover;
    background-position: center center;
    height: 600px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
}

.home-page-wrapper-content{
    max-width: 300px;
    margin: 0 auto;
}

/** login widget wrapper start **/
.login-widget-wrapper{
    display: block;
    margin:30px auto;
}


.login-widget-wrapper .form-group label{
    font-weight: bold;
}
/** login widget wrapper end */

/** Social Button Styling **/
.social-login-wrapper{
    margin-top: 40px;
    display: block;
    margin: 20px auto;
}
.social-login-wrapper .sl-row{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.social-login-wrapper .sl-row img{
    height: 30px;
    width : 30px;
}

.social-login-wrapper .sl-row a{
    display: block;
    font-size: 14px;
}

.social-login-wrapper .sl-row .sl-text-wrapper{
    width: 80%;
    text-align: center;
    display: inline-block;
}

.social-login-wrapper .sl-row .sl-text{
    color : #fff;
}

.social-login-wrapper .container{
    padding: 0;
}

/** facebook **/
.social-login-wrapper .sl-row.sl-facebook{
    border-top-color: #2274B9 !important;
    border-bottom-color: #2274B9 !important;
    background-color: #2274B9 !important;
    color: #FFFFFF !important;
}

.social-login-wrapper .sl-row.sl-tw {
    border-top-color: #4AA5E1!important;
    border-bottom-color: #4AA5E1 !important;
    background-color: #4AA5E1 !important;
    color: #FFFFFF !important;
}

.social-login-wrapper .sl-row.sl-google {
    border-top-color: #F8F8F8 !important;
    border-bottom-color: #F8F8F8 !important;
    background-color: #F8F8F8 !important;
    color: #555 !important;
}

.social-login-wrapper .sl-row.sl-google .sl-text{
    color: #555;
}

/** Divider text line **/
.divider-with-text{
    position: relative;
    display: block;
    text-align: center;
}

.divider-with-text .divider-with-text-line{
    width: 100%;
    height: 1px;
    display: block;
    background: #555;
}

.divider-with-text .d-text{
    position: relative;
    background: #fff;
    top: -10px;
    z-index: 20;
    padding: 10px;
}
/** forgot me container**/
.forgot-me-container{
    font-weight: bold;
}

/** Top corner login button **/

.top-corner-button >  a{
    border-radius: 15px;
    padding:8px 15px;
    border:1px solid  #ccc;
    color: #fff !important;
}

/** language **/
.language-banner{
    margin-left: 10px;
}

.home-page-wrapper-content-signup{
    display: none;
}

/**Generic stylings **/


.wrapper {
    background: #FFFFFF;
    text-align: left;
    margin-bottom: 15px;
    border: solid 1px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    margin-top: 15px;
}

.wrapper .wrapper-title {
    padding: 7px 16px;
    margin: 0;
    border-right: none;
    border-left: none;
    color: black;
    background: #ffffff;
    position: relative;
    border-bottom: solid 1px #F0F0F0;
    font-size: 14px;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.wrapper .wrapper-content {
    padding: 10px 10px;
    position: relative;
}

/** Register Page **/

.main-register-wrapper{
    max-width: 400px;
    margin: 0 auto;
}
